<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png"
        type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>Items</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Express HTML</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/birds">Birds</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li class="active">
                    <a href="/items">Items</a>
                </li>
                <li>
                    <a href="/json">Json</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>

        <div class="jumbotron" style="padding:40px;">
            <h1>Hello, You!</h1>
            <p>test of items with style <strike>(just one more page)</strike></p>
            <div style="padding:40px;display: flex;">
                <div class="list-group" style="max-width: 15rem;">
                    <a href="#" class="list-group-item list-group-item-action active">Active item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Disabled item</a>
                </div>
                <div style="margin-left: 2rem; padding: .6rem;">
                    <p>Active items</p>
                    <p>Items of items</p>
                    <p>Disabled example</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>