<link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png" type="image/x-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<html>

<head>
    <title>Express HTML</title>
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png"
        type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div>

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Express HTML</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/birds">Birds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/items">Items</a>
                    </li>
                    <li>
                        <a href="/json" target="_blank">Json</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron" style="padding:40px;">
            <h1>Hello, Node!</h1>
            <p>This is a simple project for node and routes testing.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="https://expressjs.com/pt-br/guide/routing.html"
                    role="button">Learn more</a>
            </p>
        </div>
    </div>
</body>

</html>